.display-wrapper {
  margin: 1em;
  border-radius: 1em;
  border-style: solid;
  border-width: 2px;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.display {
  background-color: antiquewhite;
  border-radius: 1em;
  border-style: solid;
  border-width: 2px;
  padding: 1em;
}